
.container {
	width: 1090px;
	margin: 0 auto;
	/*background: red;*/
}
.clear-fixed::after {
	display: block;
	content: "";
	clear: both;
}
/*页面滚动显示*/
.big-fix {
	display: none;
	width: 1349px;
	position: fixed !important;
	top: 0;
	height: 60px;
	background: #fff;
	z-index: 1000;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.fix {
	position: relative;
	height: 60px;
}
.fix .logo {
	position: absolute;
	top: -70px;
	width: 105px;
}
.fix .dl {
	position: absolute;
	top: 26px;
	right: 88px;
	font-size: 12px;
	
}
.fix .dl a {
	margin-right: 23px;
	color: #666;
}

.fix .icon-gouwuche1 {
	position: absolute;
	right: 48px;
	top: 20px;
	font-size: 26px;
	color: #d0c4af;
}
 .fix i.tianjia {
	position: absolute;
	top: 8px;
	right: 38px;
	width: 20px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	background: #d4282d;
	color: #fff;
	z-index: 100;
}

.fix .nav-fix {	
	position: absolute;
	left: 136px;
	font-weight: 700;
	bottom: 20px;
	width: 838px;
	height: 30px;
	z-index: 100;
}
.fix ul.nav-fix>li {
	float: left;
	padding: 12px 20px 22px 20px;
}
.fix ul .xian {
	position: relative;
	left: -194px;
	top: 8px;
	border-left :1px solid #ccc;
}
.fix .nav-fix li a {
	color: #333;
	font-size: 14px;
	padding-bottom: 6px;
	text-decoration: none;
}
.fix .nav-fix li a.active {
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}

.fix .nav-fix .house {
	display: none;
	position: absolute;
	left: -272px;
    top: 41px;
	margin: 0;
	width: 1349px;
	height: 100px;
	overflow: hidden;
	padding-top: 33px;
	text-align: center;
	background: #fff;
	z-index: -1;
}
.fix .nav-fix li .house-big {
	height: 198px;

}
.fix .nav-fix .house ul {
	display: inline-block;
	width: 930px;
	height: 98px;
}
.fix .nav-fix .house ul a {
	display: block;
	white-space: nowrap;
	padding-top: 10px;
	font-size: 14px;
	color: #333;
}
.fix .nav-fix .house ul a:hover {
	color: #b4a078;
}
.fix .nav-fix .house ul li {
	float: left;
	width: 60px;
	height: 68px;
	margin: 0 85px 30px 0;
}
.fix .nav-fix .house ul li:nth-child(7) {
	margin-right: 0;
}
.fix .nav-fix .house ul li:last-child {
	margin-right: 0;
}
.fix .nav-fix>li:hover a.x {
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}

/*最顶部的栏目*/
 .topBig {
 	position: relative;
 	width: 1349px;
 	height: 240px;
 	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
 }
 .topBig .top {
 	height: 36px;
 	background: #333;
 }
 .top .topbar {
 	
 	width: 1090px;
 	height: 36px;
	margin: 0 auto;
 }
 .top .topbar a {
 	font-size: 12px;
 }

  .top .topbar .left {
  	float: left;
  }
 .top .topbar .left .one{
 	text-decoration: none;
 	color: #ccc;
 	line-height: 36px;
 }
 .top .topbar .left .one:hover {
  	color: #fff;
  }
  .top .topbar .left i {
  	color: #b4a078;
  	vertical-align: middle;
    margin-left: 20px;
  }
 .topbar .left .two {
 	color: #b4a078;
 	text-decoration: underline;
 }
 .topbar .left .two:hover {
  	color: #fff;
  	text-decoration: none;
  }
.topbar .right {
	float: right;
	line-height: 36px;
}
.topbar .right li {
	float: left;
	height: 37px;
}
.topbar .right li:first-child {
	margin-right: 20px;
}
.topbar .kh {
	position: relative;
	line-height: 30px;
}
.topbar .right .kh span {
	margin: 0 6px;
	margin-left: -8px;
}
.topbar .right li .kehu {
	display: none;
	position: absolute;
	left: -14px;
	top: 36px;
	width: 81px;
	height: 155px;
	padding: 3px 0;
	z-index: 1;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.topbar .kh:hover .kehu {
	display: block;
}
.kh .icon-arrow-up {
	display: inline-block;	
	position: relative;
	top: 6px;
	left: -4px;
	font-size: 28px;
	color: #ccc;
}
.kh:hover .icon-arrow-up {
	top: 3px;
	transform: rotate(180deg);
	
}

.topbar .right li .kehu ul {
	width: 81px;
	height: 155px;
}

.jiantou {
	position: absolute;
	top: -6px;
	left: 32px;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid white;
}
.topbar .kehu ul li {
	width: 55px;
	margin: 0 12px;
	text-align: center;

}
.topbar .kehu ul li a {
	display: block;
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	border-top: 1px solid #ddd;
}
.topbar .kehu ul li .fir {
	border-top: 0;
}
.kh .kehu a:hover {
	color: #b4a078;
}
.APP {
	position: relative;
	float: right;
}
.topbar .right .APP {
	float: right;
	width: 70px;
}
.topbar .right .APP i.icon-shouji {
	width: 10px;
	font-size: 12px;
	color: #fff;
}
.ap {
	display: none;
	position: absolute;
	left: -50px;
	top: 36px;
	width: 137px;
	height: 135px;
	background: #fff;
	padding: 10px 0;
	text-align: center;
	z-index: 2;
	font-size: 12px;
	color: #b4a078;
	line-height:20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.APP:hover .ap {
	display: block;
}
.ap .jiantou {
	left: 56px;
}
.ap img{
	vertical-align: top;
}

.topbar .right a {
	color: #ccc;
	text-decoration: none;
}
.topbar .right span {
	font-size: 8px;
	color: #5c5c5c;
	margin: 0 10px;
}

.topbar a:hover {
	color: #fff;
}
.cli-content {
	width: 81px;
	height: 155px;
	border: 1px solid #ddd;
}



/*上面的内容导航区域*/

.top-row {
	position: relative;
	width: 1090px;
	height: 204px;
	margin: 0 auto;
}
.top-row .img {
	position: absolute;
	top: 0;
	left: 268px;
	width: 460px;
	height: 140px;
}
.top-row .search {
	position: absolute;
	float: right;
	top: 75px;
	right: 0;
	line-height: 20px;
}
.search .input {
	float: right;
}
.search input {
	
    width: 252px;
    height: 22px;
    color: #999;
    font-size: 12px;
    outline: none;
    padding: 0 6px;
	border: 0;
	border-bottom: 1px solid #D8CEBC;
	box-sizing: border-box;
}
.top-row .search i {
	float: right;
	font-size: 26px;
	color: #D0C4AF;
	cursor: pointer;
	font-weight: 200;
}
.top-row .search .icon-sousuo {
	font-size: 30px;
}
.top-row .search .icon-gouwuche1 {
	margin: 0 20px 0 10px;
}
.top-row .search i.tianjia {
	position: absolute;
	top: -12px;
	left: 308px;
	width: 20px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	background: #d4282d;
	color: #fff;
}

.top-row .search .search-content {
	display: none;
	position: absolute;
	top:21px;
	width: 250px;
	border: 1px solid #e8e8e8;
	background: #fff;
	z-index: 106;
}
.search .search-content li {
	font-size: 13px;
	color: #999;
	padding: 2px 10px;
}
.search .search-content li:nth-child(2) {
	padding-bottom: 8px;
	color: #333;
}
.search .search-content li:last-child {
	color: #333;
}
.search .search-content li.red {
	color: #b4282d;
}
.search .search-content li.back:hover {
	background: #f8f5f0;
}
.search .search-content li.back {
	cursor: pointer;
}
.top-row .nav {	
	position: absolute;

	font-weight: 700;
	bottom: 20px;
	width: 1090px;
	height: 30px;
	z-index: 100;
}
.top-row ul.nav>li {
	float: left;
	padding: 6px 24px 0;
}
.top-row ul .xian {
	position: relative;
	left: -194px;
	top: 8px;
	border-left :1px solid #ccc;
}
.top-row .nav li a {
	color: #333;
	font-size: 14px;
	padding-bottom: 6px;
	text-decoration: none;
}
.top-row .nav li a.active {
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
.top-row .nav>li:hover a.x {
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
.nav .house {
	display: none;
	position: absolute;
	left: -130px;
    top: 34px;
	margin: 0;
	width: 1349px;
	height: 100px;
	overflow: hidden;
	padding-top: 33px;
	text-align: center;
	background: #fff;
	z-index: -1;
}
.nav li .house-big {
	height: 198px;

}
.nav .house ul {
	display: inline-block;
	width: 930px;
	height: 98px;
}
.nav .house ul a {
	display: block;
	white-space: nowrap;
	padding-top: 10px;
	font-size: 14px;
	color: #333;
}
.nav .house ul a:hover {
	color: #b4a078;
}
.house ul li {
	float: left;
	width: 60px;
	height: 68px;
	margin: 0 85px 30px 0;
}
.house ul li:nth-child(7) {
	margin-right: 0;
}
.house ul li:last-child {
	margin-right: 0;
}

/*身体内容*/

	.bd {
		width: 100%;
		height: 4360px;
	}
	.bd .bd-title {
		padding: 20px 0;
	}
	.bd-title span , .bd-title a {
		font-size: 12px;
		color: #333;
	}
	.bd .bd-title i {
		font-size: 12px;
	}
 	.bd-title>a:hover {
 		text-decoration: underline;
 	}
	.show {
		width: 100%;
	}
	.show .show-tp {
		height: 671px;
	}
	.show .tp-left {
		float: left;
		width: 524px;
		height: 440px;
	}
	.show .bigImg {
		float: left;
		width: 428px;
		height: 428px;
		border: 1px solid #e8e8e8;
		margin-right: 16px;
	}
	.show .bigImg img {
		display: none;
	}
	.show .bigImg .active {
		display: block;
	}
	.smallImg {
		float: left;
		width: 78px;
		height: 440px;
	}
	.smallImg .list {
		/*float: left;*/
	}
	.smallImg .list li {
		float: left;
		margin-bottom: 10px;
	}
	.smallImg .list li a {
		display: inline-block;
		overflow: hidden;
		width: 76px;
		height: 76px;
		border: 1px solid #e8e8e8;
		box-sizing: border-box;
	}
	.smallImg .list li a:hover .ab {	
		transform: scale(0.98);
	}
	.smallImg .list li a:hover {
		border: 2px solid #b4a078;
	}
	.smallImg .list li img {
		width: 76px;
		height: 76px;
	}

	
	.tp-right {
		float: right;
		width: 504px;
		height: 671px;
		padding-left: 62px;
	}
	.tp-right .right-title {
		margin-bottom: 20px;

	}
	.tp-right .right-title h3 {
		margin-bottom: 18px;
		font-size: 20px;
	}
	.tp-right .right-title span {
		font-size: 12px;
		color: #999;
	}
	.tp-right .rt-time {
		width: 474px;
		height: 36px;
		line-height: 36px;
		background: #e36844;
		padding: 0 10px 0 20px;
		color: #fff;
	}
	.tp-right .rt-time p {
		float: left;
		font-size: 18px;
		margin-right: 14px;
	}
	.tp-right .rt-time span {
		font-size: 14px;
	}
	.tp-right .time-box {
		width: 504px;
		height: 201px;
		background: #f5f3ef;
		border-bottom: 1px solid #dedede;
		padding-top: 16px;
	}
	.tp-right .time-box .lt {
		margin-bottom: 16px;
	}
	.tp-right .time-box  span.sj{
		font-size: 13px;
		color: #666;
		margin-left: 10px;
		margin-right: 28px;
	}
	.tp-right .time-box .pri {
		color: #d7282d;
		font-weight: 700;
	}
	.tp-right .time-box .pri small {
		font-size: 18px;
	}
	.tp-right .time-box .pri span {
		font-size: 28px;
	}
	.tp-right .time-box .lt a {
		display: inline-block;
		float: right;
		font-size: 18px;
		text-align: center;
		margin-right: 10px;
	}
	.tp-right .time-box .lt a span {
		font-size: 13px;
	}
	.tp-right .time-box .lt a:hover {
		color: #b4a078;
	}
	
	.tp-right span.sj{
		float: left;
		font-size: 13px;
		color: #666;
		margin-left: 10px;
		margin-right: 28px;
		margin-top: 3px;
	}
	.tp-right .time-box .juan ul {
		/*width: 447px;*/
		height: 28px;
	}	
	.time-box .juan ul li {
		float: left;
		font-size: 13px;
		color: #d52b33;
		padding: 2px;
		margin-right: 5px;
		border: 1px solid #d52b33;
		background: #fff;
	}
	.time-box .juan ul li:last-child {
		border: 0;
		background: none;
		margin-left: 3px;
	}
	.time-box .juan ul li a {
		color: #d52b33;
	}
	.time-box .juan ul li a:hover {
		text-decoration: underline;
	}
	
	.time-box .sale a div{
		display: inline-block;
		font-size: 12px;
		color: #fff;
		padding: 4px;
		margin-left: -4px;
		margin-right: 6px;
		background: #e36844;
	} 
	.time-box .sale a span {
		color: #D52B33;
		font-size: 13px;
	}
	.integral {
		margin-top: 10px;
	}
	.integral .content {
		/*float: left;*/
		font-size: 13px;
		color: #666;
		margin-left: -6px;
		margin-right: 20px;
		margin-top: 3px;
	}
	
	.time-box .serve span.sj {
		float: left;
	}
	
	.time-box .serve ul {
		float: left;
	    width: 360px;
	    line-height: 21px;
	    margin-top: -4px;
	}
	.time-box .serve ul li {
		float: left;
		font-size: 13px;
		color: #666;
		margin-right: 16px;
	}
	.time-box .serve ul li a {
		color: #666;
	}
	.time-box .serve ul li a:hover {
		text-decoration: underline;
	}
	
	.time-box hr {
		height: 1px;
		border: none;
		margin: 15px 20px 15px 10px;
		border-top: 1px dashed #d2d2d2;
	}
	
	.tp-right .detail {
		width: 504px;
		height: 240px;
		margin-top: 20px;
	}
	.detail .color {
		width: 504px;
		height: 134px;
	}
	.detail .lt .sj {
		line-height: 50px;
	}
	.detail .color ul {
		float: left;
		width: 438px;
	}
	.detail .color ul li {
		float: left;
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.detail .color a {
		position: relative;
		display: inline-block;
		width: 48px;
		height: 48px;
		background: #f4f4f4;
		border: 1px solid #ddd;
	}
	.detail .color a span {
		display: none;
		position: absolute;
		top: 60px;
		left: 19px;
		font-size: 12px;
		padding: 5px;
		white-space: nowrap;
		border: 1px solid #ddd;
		background: #fff;
		z-index: 1;
	}
	.detail .color a:hover span {
		display: block;
	}
	
	.detail .size {
		height: 50px;
	}
	.detail .size ul {
		float: left;
		margin-top: 15px;
	}
	.detail .size ul li {
		display: inline-block;
		font-size: 12px;
		padding: 7px 18px;
		margin-right: 10px;
		border: 1px solid #ddd;
	}

	.detail .num .lt .sj {
		float: left;
		margin-left: -54px;
	}
	.detail .num .add-num {
		float: left;
		width: 128px;
		height: 32px;
		line-height: 42px;
		border: 1px solid #ddd;
		margin-top: 10px;
	}
	.detail .num .add-num span {
		float: left;
		display: inline-block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 26px;
		font-weight: 500px;
		color: #d3d3d3;
		text-align: center;
		border-right: 1px solid #ddd;
		cursor: not-allowed;
	}
	.detail .num .add-num span:last-child {
		border: 0;
		border-left: 1px solid #ddd;
	}
	.detail .num .add-num input {
		float: left;
		width: 60px;
		height: 32px;
		color: #d3d3d3;
		text-align: center;
		border: none;
		vertical-align: top;
	}
	
	.detail .b-btn {
		margin-top: 39px;
	}
	.detail .b-btn a {
		display: inline-block;
		width: 152px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		font-size: 18px;
		margin-right: 6px;
		color: #b4a078;
		background: #f5f3ef;
		border-radius: 2px;
		border: 1px solid #b4a078;
	}
	.detail .b-btn a.buy:hover {
		background: #fff;
	}
	.detail .b-btn .b-cart {
		color: #fff;
		background: #b4a078;
		border: 1px solid #b4a078;
	}
	.detail .b-btn .b-cart:hover {
		background: #c0ae8a;
		
	}
	.detail .b-btn .b-cart i {
		font-size: 20px;
	}

	.detail .b-btn .collect {
		width: 45px;
		height: 45px;
		font-size: 12px;
		color: #999;
		background: #fff;
		vertical-align: -8px;
		border: 1px solid #ccc;
	}
	.detail .collect .coll {
		display: inline-block;
		height: 10px;
		text-align: center;
	}
	.detail .collect .coll i {
		float: left;
		margin-top: -23px;
	}
	.detail .collect span {
		display: block;
		margin-top: -35px;
	}
	
/*购物车*/
.cart-content {
	width: 1090px;
	/*height: 380px;*/
	padding-bottom: 40px;
	margin-top: 20px;
}
.cart-content .c-top {
	/*height: 264px;*/
	margin-bottom: 10px;
}
.cart-content .c-top .top-xinxi {
	height: 45px;
	line-height: 47px;
	font-size: 13px;
	color: #333;
	background: #f5f5f5;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.cart-content .c-top .top-xinxi div {
	float: left;
}
.cart-content .c-top .top-xinxi .c1 {
	width: 139px;
	margin-left: 20px;
}
.cart-content .c-top .top-xinxi .c2 {
	width: 300px;
}
.cart-content .c-top .top-xinxi .c3 {
	width: 180px;
	text-align: center;
}
.cart-content .c-top .top-xinxi .c4 {
	width: 170px;
	text-align: center;
}
.cart-content .c-top .top-xinxi .c5 {
	width: 120px;
	padding-right: 30px;
	text-align: right;
}
.cart-content .c-top .top-xinxi .c6 {
	width: 98px;
	padding-left: 30px;
}
.cart-content .c-top .top-xinxi .c1 input {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	
}
.cart-content .c-top .top-xinxi .c1 span {
	margin-left: 14px;
	vertical-align: middle;
}

.cart-content .cont .cont-top {
	height: 45px;
	line-height: 47px;
	padding-left: 60px;
	font-size: 13px;
	color: #333;
	background: #f5f5f5;
	border: 1px solid #ddd;
	background: #fffbf0;
	margin-bottom: 10px;
}
.cart-content .cont .cont-top .jg {
	height: 20px;
	padding: 2px 5px;
	font-size: 12px;
	color: #fff;
	background: #e36844;
}
.cart-content .cont .cont-top .add {
	margin-left: 12px;
	margin-right: 20px;
	color: #666;
}
.cart-content .cont .cont-top .add span {
	color: #d52b33;
	font-size: 14px;
}

.cart-content .cont .cont-top .kan {
	display: inline-block;
	width: 64px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	background: #fff;
	color: #d4282d;
	border: 1px solid #d4282d;
	margin-right: 12px;
}
.cart-content .cont .cont-top .pin {
	color: #69c;
}

.cart-content .c-top .tu {
	width: 1088px;
	height: 100px;
	padding: 20px 0;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #ddd;
}
.cart-content .c-top .cont .tu .input {
	display: inline-block;
	float: left;
	line-height: 100px;
	width: 59px;
	height: 60px;
}
.cart-content .c-top .cont .tu input {
	width: 18px;
	height: 18px;
	margin-left: 20px;
	
}
.cart-content .c-top .cont .tu .img>a {
	float: left;
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid #eaeaea;
	background: #f4f4f4;
}
.cart-content .c-top .cont .tu .img .js {
	float: left;
	width: 280px;
	height: 42px;
	font-size: 14px;
	margin-left: 20px;
}
.cart-content .c-top .cont .tu .img .js a {
	display: inline-block;
	font-size: 14px;
	margin-top: 9px;
}
.cart-content .c-top .cont .tu .img .t:hover {
	color: #b4a078;
}
.cart-content .c-top .cont .chi {
	font-size: 13px !important;
	color: #999;
}
.cart-content .c-top .cont .pri1 {
	float: left;
	width: 180px;
	height: 24px;
	font-size: 14px;
	color: #333;
	text-align: center;
	padding-top: 10px;
}
.cart-content .c-top .cont .pri2 {
	float: left;
	width: 180px;
	height: 24px;
	font-size: 14px;
	color: #d4282d;
	text-align: center;
	padding-top: 10px;
}
.cart-content .c-top .cont .jia {
	float: left;
	width: 106px;
	height: 24px;
	border: 1px solid #ddd;
	margin: 0 32px;
	margin-top: 10px;
}
.cart-content .c-top .cont .jia span {
	float: left;
	display: inline-block;
	width: 23px;
	height: 24px;
	line-height: 20px;
	font-size: 24px;
	color: #999;
	text-align: center;
	border-right: 1px solid #ddd;
	
}
.shou .jian {
	cursor: pointer;
}
.style .jian {
	cursor: not-allowed;
}
.cart-content .c-top .cont .jia .j {
	font-size: 22px;
	border: none;
	border-left: 1px solid #ddd;
	cursor: pointer;
}
.cart-content .c-top .cont .jia input {
	float: left;
	width: 58px;
	height: 24px;
	text-align: center;
	color: #333;
	margin-left: 0;
	border: none;
}
.cart-content .c-top .cont .rt {
	float: right;
	width: 98px;
	height: 48px;
	font-size: 14px;
	color: #999;
	margin-top: -25px;
}
.cart-content .c-top .cont .rt a {
	display: inline-block;
	margin-bottom: 10px;
	color: #666;
}
.cart-content .c-top .cont .rt a:hover {
	color: #b4a078;
}
.cart-content .ft {
	height: 64px;
	/*line-height: 64px;*/
	border: 1px solid #ddd;
	background: #f5f5f5;
}
.cart-content .ft .lf {
	float: left;
	font-size: 14px;
	margin-left: 20px;
	line-height: 64px;
}
.cart-content .ft .lf span {
	margin-left: 14px;
}
.cart-content .ft .lf a {
	margin-left: 30px;
}
.cart-content .ft input {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	
}
.cart-content .ft .lf a:hover {
	color: #b4a078;
}
.cart-content .ft .zhong {
	float: right;
	text-align: right;
	margin-top: 12px;
}
.cart-content .ft .zhong .on div {
	display: inline-block;
	font-size: 14px;
	color: #999;
}
.cart-content .ft .zhong .on div span {
	margin-right: 10px;
}
.cart-content .ft .zhong .y{
	color: #333;
	font-size: 14px;
}
.cart-content .ft .zhong .p {
	font-size: 22px;
	color: #d4282d;
	font-weight: 700;
}
.cart-content .ft .zhong .tw {
	font-size: 14px;
	margin-top: 4px;
}
.cart-content .ft .zhong .tw a {
	color: #d4282d;
}
.cart-content .ft .zhong .tw a:hover {
	text-decoration: underline;
}
.cart-content .rt {
	float: right;
	width: 139px;
	height: 65px;
	margin-left: 24px;
} 
.cart-content .rt button {
	width: 139px;
	height: 65px;
	font-size: 18px;
	color: #fff;
	border: none;
	border: 1px solid #ccc;
	background: #ccc;
	cursor: pointer;
}


	/*猜你喜欢*/
	.prom-content {
		width: 1088px;
		height: 355px;
		border: 1px solid #e8e8e8;
		margin-top: 22px;
	}
	.prom-content .pro-hd {
		height: 44px;
		line-height: 44px;
		font-size: 17px;
		background: #f5f5f5;
	}
	.prom-content .pro-hd span {
		margin-left: 16px;
	}
	.prom-content .pro-lunbo {
		width: 100%;
		height: 299px;
		padding-top: 12px;
	}
	.prom-content .lb {
		width: 930px;
		height: 299px;
		margin: 0 79px 0;
		margin-left: 92px;
	}
	.prom-content .lb ul {
		width: 1920px;
		/*margin-left: -30px;*/
	}
	.prom-content .lb ul li {
		float: left;
		width: 232.5px;
		/*margin-left: 30px;*/
	}
	.prom-content .lb a {
		display: inline-block;
		position: relative;
		overflow: hidden;
		vertical-align: top;
	}
	.prom-content .lb a span {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 44px;
		height: 18px;
		line-height: 18px;
		padding: 0 4px;
		border: 1px solid #b3a07d;
		background: #f4f0ea;
		border-radius: 5px;
		font-size: 12px;
		color: #a7936e;

	}
	.prom-content .lb img {
		vertical-align: top;
		transition: all 1s;
	}
	.prom-content .pro-lunbo {
		width: 100%;
		position: relative;
	}
	.prom-content .pro-lunbo .ft {
		width: 210px;
		height: 70px;
		text-align: center;
	}
	.prom-content .pro-lunbo .ft div {
		width: 200px;
		height: 20px;
		margin-bottom: 3px;
	}
	.pro-lunbo .lb .ft span {
		display: inline-block;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		color: #fff;
		background: #F28F2D;
		padding: 0 5px;
		
	}
	.pro-lunbo .lb .ft span.time {
		background: #e36844;
	}
	.pro-lunbo .lb .ft h4 {
		width: 190px;
		height: 20px;
		padding: 0 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.pro-lunbo .lb .ft h4 a {
		color: #333;
		font-size: 13px;
		font-weight: 700;
		margin-bottom: 8px;
	}
	.pro-lunbo .lb .ft p {
	    color: #d4282d;
	    font-size: 13px;
	}
	.pro-lunbo .lb .ft h4 a:hover {
		color: #b4a078;
	}
	.pro-lunbo .lb ul li:hover img {
		transform: scale(1.05,1.05);
		transition: all 1s;
	}
	    .carousel .swiper-button-gray {
        top: -197.5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background-color: #b6a478;
        background-image: none;
    }

    .lb-btn .swiper-left , .lb-btn .swiper-right {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 16px;
		border-radius: 50%;
		color: #fff;
		background-image: none;
		background: #b4a078;
    }
    .lb-btn .swiper-left {
    	left: 30px;
    }
    .lb-btn .swiper-right {
    	right: 30px;
    }



/*底部1*/
	.ft1 {
		width: 1090px;
		height: 204px;
		border-top: 1px solid #e8e8e8;
		padding: 60px 0 34px;
		margin: 0 auto;
	}
	.ft1 ul li {
		float: left;
		width: 288.328px;
		height: 204px;
		text-align: center;
		padding: 0 37px;
		border-left: 1px solid #e9e9e9;
	}
	.ft1 ul li:first-child {
		border-left: 0;
	}
	.ft1 ul h4 {
		color: #333;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 28px;
		text-align: center;
	}
	.ft1 ul a {
		display: inline-block;
		padding-top: 25px;
		width: 78px;
		height: 73px;
		font-size: 14px;
		color: #333;
		text-align: center;
		border: 1px solid #e8e8e8;
		text-decoration: none;
	}
	.ft1 ul a:hover {
		color: #b4a078;
	}
	.ft1 ul a.rt {
		margin-left: 29px;
	}
	.ft1 ul i {
		/*display: inline-block;*/
		width: 31px;
		/*height: 26px;*/
		font-size: 40px;
	}
	.ft1 ul li a p {
		margin-top: 8px;
	}
	.ft1 li .produce {
		text-align: left;
		font-size: 13px;
		line-height: 23px;
		margin-bottom: 22px;
	}
	.ft1 .atten p{
		float: left;
		font-size: 14px;
		line-height: 36px;
		margin-right: 15px;
	}
	.ft1 .atten .att {
		float: left;
	}

		.ft1 .att .img {
		float: left;
		width: 32px;
		height: 42px;
		margin-right: 15px;
	    position: relative;
	    padding-bottom: 10px;
	}
		.ft1 .img .hide {
		display: none;
		position: absolute;
		padding: 10px;
		top: 44px;
		left: -45px;
		background: #fff;
		border: 1px solid #ddd;
		box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	}
	.hide .jiantou {
		top: -8px;
		left: 53px;
	}
	.att .img:hover .hide {
		display: block;
	}

/*底部2*/
	.ft2 {
		/*position: relative;
		left: -132px;*/
		clear: both;
		width: 1349px;
		height: 167px;
		padding-top: 37px;
		background: #414141;
	} 
	.ft2 .box {
		height: 145px;
	}
	.ft2 .box ul {
		height: 51px;
		margin-bottom: 30px;
	}
	.ft2 .box ul li {
		float: left;
		width: 33.33333%;
		text-align: center;
	}
	.ft2 .box ul li div {
		display: inline-block;
		text-align: center;
		line-height: 51px;
	}
	.ft2 .box ul li img {
		float: left;
		margin-right: 17px;
	}
	.ft2 .box ul li p {
		float: left;
		font-size: 18px;
		color: #fff;
		vertical-align: middle;
	}
	.ft2 .separate {
		height: 1px;
		background: #4f4f4f;
		margin-bottom: 27px;
	}
	.bot-box {
		height: 36px;
		position: relative;
	}
	.ft-nav {
		color: #999;
		font-size: 0;
		text-align: center;
	}
	.ft2 .ft-nav a {
		font-size: 12px;
		color: #999;
		text-decoration: none;
	} 
	.ft2 .ft-nav span {
		font-size: 12px;
		margin: 13px;
	}
	.ft2 p {
		font-size: 12px;
		color: #999;
		text-align: center;
		margin-top: 2px;
	}
	.ft2 .badge {
		display: inline-block;
		position: absolute;
		width: 36px;
		height: 39px;
		top: -4px;
		right: 150px;
	}
	.ft2 .badge img {
		width: 36px;
		height: 39px;
	}

/*固定定位*/

	.fixed {
		position: fixed;
		bottom: 100px;
		right: 0;
		width: 72px;
		height: 324px;
		background: #fff;
		z-index: 100;
	}
	.fixed a.gif {
		display: inline-block;
		position: absolute;
		top: -153px;
	}
	.fixed a.box {
		display: block;
		width: 72px;
		height: 68px;
		padding-top: 14px;
		text-align: center;
		
		color: #666;
	}
	.fixed a.box:hover p{
		color: #b4a078;
	}
	.fixed a.box i {
		font-size: 32px;
	}
	.fixed a.box p {
		font-size: 14px;
		margin-top: 8px;
		padding-bottom: 10px;
		/*border-bottom: 1px solid #eaeaea;*/
	}
	.tan .jian {
	    position: absolute;
	    left: 228px;
	    top: 96px;
	    border-top: 10px solid transparent;
	    border-left: 10px solid white;
	    border-bottom: 10px solid transparent;
	}
	.ge {
		width: 60px;
		height: 1px;
		margin-left: 6px;
		background: #eaeaea;
	}
	.fixed .hide {
		display: none;
	}
	div.fixed a.bt {
		display: none;
		position: absolute;
		bottom: -60px;
		height: 46px;
		background: #fff;
		z-index: -1;
	}
	div.fixed a.bt i {
		display: block;
		margin-left: 19px;
	    margin-top: -2px;
	    width: 24px;
	    height: 30px;
	}
	div.fixed a.bt p {
		margin-top: 0;
	}

	.tan {
		display: none;
		position: absolute;
		top: 30px;
		left: -248px;
		padding: 0;
		width: 228px;
		height: 216px;
		border: 1px solid #EAEAEA;
    	box-shadow: 0 2px 4px 0 #7f7f7f;
		background: #fff;
	}
	.tan .top-left {
		float: left;
	}
	.tan .tan-top span {
		color: #BE4141;
		font-size: 20px;
	}
	.tan .tan-top .price {
		font-size: 54px;
		margin-left: 15px;
	}

	.tan .top-right {
		float: left;
		margin-top: 10px;
	}
	.top-right div {
		width: 40px;
		height: 18px;
		line-height: 18px;
		text-align: center;
		font-size: 14px;
		color: #A94528;
		background: #F8BC59;
	}
	.tan-top .top-right p.qian {
		font-size: 18px;
		color: #BE4141;
	}

	.tan-bott .bott-left {
		float: left;
		padding: 3px;
		border: 1px solid #eaeaea;
	}
	.tan-bott .bott-right {
		float: left;
		margin-top: 30px;
		margin-left: 4px;
	}
	.tan-bott .bott-right p{
		font-size: 20px;
		color: #333;
	}
	.tan-bott .bott-right .app{
		font-size: 14px;
	}

	.tan-top , .tan-bott {
		margin-top: 20px;
		margin-left: 15px;
	}
	.xiazai:hover .tan {
		display: block;
	}
	.dingyue {
		display: none;
		position: absolute;
		top: 106px;
		left: -390px;
		width: 370px;
		height: 220px;
		padding: 0;
		border: 1px solid #EAEAEA;
    	box-shadow: 0 2px 4px 0 #7f7f7f;
		background: #fff;
	}
	.dy:hover .dingyue {
		display: block;
	}
	.dingyue .jian {
	    position: absolute;
	    left: 370px;
	    top: 96px;
	    border-top: 10px solid transparent;
	    border-left: 10px solid white;
	    border-bottom: 10px solid transparent;
	}
	.dingyue .img {
		width: 370px;
		height: 70px;
		line-height: 70px;
		font-size: 26px;
		color: #fff;
		background: url('../../image/fixed/1.png');
	}
	.dingyue .close {
		position: absolute;
		top: 5px;
		right: 12px;
		font-size: 14px;
		font-weight: 100;
		color: #fff;
	}
	.dy-content {
		font-size: 14px;
		color: #999;
		margin-top: 20px;
	}
	.dy-input {
		width: 286px;
		height: 34px;
		margin: 0 auto;
		margin-top: 10px;
	}
	.dy-input input {
		float: left;
		width: 185px;
		height: 22px;
		padding: 5px 10px;
		color: #333;
		border: 1px solid #ddd;
		background: #f8f8f8;
	}
	.dy-input div {
		float: left;
		width: 79px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		background: #b4a078;
		font-size: 14px;
		color: #fff;
	}
	.foot {
		margin-top: 31px;
	}
	.foot li {
		float: left;
		width: 122px;
		font-size: 14px;
		color: #B4A078;;
	} 
	.dingyue .foot li i {
		font-size: 18px;
	}